# Copy this to secrets.yml and encrypt with ansible-vault
# ansible-vault encrypt inventories/ovh/group_vars/secrets.yml

vault_github_token: "your_github_token"
vault_argocd_admin_password: "your_argocd_password"
vault_grafana_admin_password: "your_grafana_password"
