# Terraform
**/.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
.terraform.lock.hcl

# Ansible
*.retry
ansible/inventories/ovh/group_vars/secrets.local.yml
ansible/.vault_pass
ansible/ansible_error.log

# Sealed Secrets private key
*.key

# OS
.DS_Store
*.swp

# ansible vault secrets (never commit; use secrets.yml.example as template)
ansible/inventories/*/group_vars/secrets.yml
