ovh_endpoint           = "ovh-eu"
ovh_application_key    = "your_application_key"
ovh_application_secret = "your_application_secret"
ovh_consumer_key       = "your_consumer_key"
vps_ip                 = "REDACTED_VPS_IP"
domain                 = "example.com"
dns_ttl                = 300
