PasswordAuthentication {{ ssh_password_authentication }}
KbdInteractiveAuthentication no
ChallengeResponseAuthentication no
PermitRootLogin {{ ssh_permit_root_login }}
PubkeyAuthentication {{ ssh_pubkey_authentication }}
MaxAuthTries {{ ssh_max_auth_tries }}
LoginGraceTime {{ ssh_login_grace_time }}
AllowUsers {{ ssh_allow_users | join(' ') }}
